<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleIdentifier</key>
    <string>com.yoma.app</string>

    <key>CFBundleName</key>
    <string>YOMA</string>

    <key>CFBundleDisplayName</key>
    <string>YOMA</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIRequiresFullScreen</key>
    <true/>

    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>NSCameraUsageDescription</key>
    <string>O YOMA utiliza a câmera somente quando necessário para registrar informações de segurança.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>O YOMA utiliza sua localização para enviar alertas de emergência com precisão.</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>O YOMA usa o microfone apenas para funcionalidades de emergência quando você permitir.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>O YOMA acessa a galeria apenas quando necessário.</string>

    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>

    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
        <string>processing</string>
        <string>fetch</string>
    </array>

    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

</dict>
</plist>
